<%- include('partial/header') %> 
    <!-- <header> -->
         <h1>Create New User</h1>
    <!-- </header> -->
       
        <div class="container mt-5 px-2">
    
            <div class="mb-2 d-flex justify-content-between align-items-center">
                
                <div class="position-relative">
                    <a href="/" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
                    </a>
                </div>
                
                <div class="px-2">
                    
                    <!-- <span>Filters <i class="fa fa-angle-down"></i></span>
                    <i class="fa fa-ellipsis-h ms-3"></i> -->
                </div>
                
            </div>
            <div class="table-responsive">
                <%- include('partial/form') %> 
            </div>
        </div> 


<%- include('partial/footer')%>