<%- include('partial/header') %>
     <!-- <header> -->
        <h1>welcome to home page</h1>
        <!-- </header> -->
    
        <!-- <Main site> -->
            <div class="container mt-5 px-2">
        
                <div class="mb-2 d-flex justify-content-between align-items-center">
                    
                    <div class="position-relative">
                        <a href="/add-user" class="border-shadow">
                            <span class="text-gradient">New User<i class="fas fa-user"></i></span>
                        </a>
                    </div>
                    
                    <div class="px-2">
                        
                        <!-- <span>Filters <i class="fa fa-angle-down"></i></span>
                        <i class="fa fa-ellipsis-h ms-3"></i> -->
                    </div>
                    
                </div>
                <div class="table-responsive">
                    <table class="table">
                        
                        <thead class="table-primary">
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%- include('partial/show') %> 
                    
                        </tbody>
                </table>
              
            </div>
                
            </div>
        <!-- <Main site> -->
<%- include('partial/footer') %>  
   
