<%- include('partial/header') %> 
    <!-- <header> -->
         <h1>Update User Details</h1>
    <!-- </header> -->
       
        <div class="container mt-5 px-2">
    
            <div class="mb-2 d-flex justify-content-between align-items-center">
                
                <div class="position-relative">
                    <a href="/" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i>All Users</span>
                    </a>
                </div>
                
                <div class="px-2">
                    <!-- <span>Filters <i class="fa fa-angle-down"></i></span>
                    <i class="fa fa-ellipsis-h ms-3"></i> -->
                </div>
                
            </div>
            <div class="table-responsive">
                <form method ="POST" id="updateuser">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                
                    <div class ="row">
                        <div class="col-md-6">
                            <div class="form-check">
                                <label for="gender">Gender</label>
                                <div>
                                    <input class="form-check-input" type="radio" name="gender" value="Male">
                                    <label class="form-check-label" for="flexRadioDefault1">Male</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="radio" name="gender" value="Female">
                                    <label class="form-check-label" for="flexRadioDefault1">Female</label>
                                </div>  
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check">
                                <label for="gender">Status</label>
                                <div>
                                    <input class="form-check-input" type="radio" name="status" value="Active">
                                    <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                </div>
                                <div>
                                    <input class="form-check-input" type="radio" name="status" value="Inactive">
                                    <label class="form-check-label" for="flexRadioDefault1">Inactive</label>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                    
                </form>
            </div>
        </div> 


<%- include('partial/footer')%>