<form method ="POST" id="adduser">
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class ="row">
        <div class="col-md-6">
            <div class="form-check">
                <label for="gender">Gender</label>
                <div>
                    <input class="form-check-input" type="radio" name="gender" value="Male">
                    <label class="form-check-label" for="flexRadioDefault1">Male</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="gender" value="Female">
                    <label class="form-check-label" for="flexRadioDefault1">Female</label>
                </div>  
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-check">
                <label for="gender">Status</label>
                <div>
                    <input class="form-check-input" type="radio" name="status" value="Active">
                    <label class="form-check-label" for="flexRadioDefault1">Active</label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="status" value="Inactive">
                    <label class="form-check-label" for="flexRadioDefault1">Inactive</label>
                </div>
               
            </div>
        </div>
    </div>
   
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
    
</form>